html, body, .Landing {
    height: 100vh;
    overflow-x: hidden;
}

.title {
    font-weight: 400;
}

.terminal {
    border-radius: 1%;
}

@media screen and (max-width: 1200px) {
    .terminal-container {
        text-align: center;
    }
}
